.register-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f1f5f9;
}

.register-card {
  width: 380px;
  padding: 30px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.register-card h2 {
  margin-bottom: 20px;
}

/* TOGGLE */
.role-toggle {
  display: flex;
  margin-bottom: 20px;
}

.role-toggle button {
  flex: 1;
  padding: 10px;
  border: none;
  cursor: pointer;
  background: #e5e7eb;
  font-weight: 500;
}

.role-toggle .active {
  background: #2563eb;
  color: white;
}

/* INPUTS */
.register-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: 1px solid #cbd5f5;
}

/* REGISTER BUTTON */
.register-btn {
  width: 100%;
  padding: 10px;
  background: #16a34a;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

.register-btn:hover {
  background: #15803d;
}

/* LOGIN TEXT */
.login-text {
  margin-top: 15px;
  font-size: 14px;
}

.login-text span {
  color: #2563eb;
  cursor: pointer;
  font-weight: 500;
}